*{
	margin: 0;
	padding: 0;
	}
	body{
	background-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	}
	#wrapper ul li a{
		text-decoration: none;
		color: white;
	}
	#wrapper ul a .li h1{
		position: relative;
		top: -25px;
	}
	#wrapper{
        position: fixed;
	width: 100%; 
	margin: 0 auto;
	}
	#wrapper ul{
	list-style: none;
	}
	#wrapper ul li{
		font-family: algerian;
	}
	#wrapper ul li {
	background:rgb(54, 52, 52);
	width: 14.285%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	float: left;
	color: white;
	font-size: auto;
	position: relative;
	font-family: poppins;
	text-transform: uppercase;
	font-weight: bold;
	}
	#wrapper ul .l li{
	position: relative;
	background: rgb(54, 52, 52);
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	color: #fff;
	font-size: auto;
	position: relative;
	font-family: poppins;
	text-transform: uppercase;
	font-weight: bold;
	} 
	#wrapper ul .u li{
	position: relative;
	background: rgb(54, 52, 52);
	width: 250%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	color: #fff;
	font-size: auto;
	position: relative;
	font-family: poppins;
	text-transform: uppercase;
	font-weight: bold;
	}
	#wrapper ul .menu li:hover{
	background:rgba(197, 194, 194, 0.966);
	color: black;
	}
	#wrapper ul .menu li:hover > .d{
		border: 5px solid black;
		border-width: 0px 3px 3px 0px;
		display: inline-block;
	}
	#wrapper ul .menu li .d{
		position: relative;
		top: -3px;
	}
	#wrapper ul .menu li:hover > .r{
		border: 5px solid black;
		border-width: 0px 3px 3px 0px;
		display: inline-block;
	}
	#wrapper ul .menu li .r{
		position: relative;
		top: -1px;
	}
	.li img{
		font-family: algerian;
		position: relative;
		top: 27px;
	}
	.r{
		border: 5px solid white;
		border-width: 0px 3px 3px 0px;
		display: inline-block;
		padding: 3px;
		transform: rotate(-45deg);
	}
	.d{
		border: 5px solid white;
		border-width: 0px 3px 3px 0px;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
	}
	
	#wrapper ul ul{
	display: none;
	}
	#wrapper ul li:hover > ul{
	display: block;
	}
	#wrapper ul ul ul{
	margin-left: 192.5px;
	top: 0;
	position: absolute;
	}

    .con{
        color: black;
        text-align: center;
        align-content: center;
    }
    .con .p{
        align-items: center;
    }
    .con h1{
		margin-left: 100px;
		margin-right: 100px;
        font-size: 50px;
        text-align: center;
        font-family: algerian;
        border-width: 800px;
        border-bottom: 1px solid black; 
    }
    .con p i{
        font-size: 20px;
        text-decoration: none;

    }
    .con .img{
		margin-left: 100px;
		margin-right: 100px;
        border: 1px solid black;
    }
    .con .img img{
        width: 11%;
    }
    .con .img .a{
        height: 50px;
        margin-bottom: 3%;
    }
    .con .img .a1{
		width: 75px;
        height: 50px;
		margin-bottom: 40px;
    }
	.con .img .a12{
		width: 75px;
        height: 20px;
		margin-bottom: 50px;
	}
	.con .img li{
		text-decoration: none;
	}
	.con .img span{
        position: absolute;
		font-size: 18px;
		color: black;
	}
    .con p{
		margin-left: 100px;
		margin-right: 100px;
        font-size: 25px;
        font-family: Helvetica;
        align-content: center;
        text-align: center;
    }
    .con h2{
		margin-left: 100px;
		margin-right: 100px;
        font-size: 40px;
        text-align: center;
        font-family: algerian;
        border-width: 800px;
        border-top: 1px solid black;
        border-bottom: 1px solid black; 
	}




















